# 1.CART算法

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [4]:
def creatDataSet():
    group = np.array([[1,2],
                      [1,0],
                      [2,1],
                      [0,1],
                      [0,0]])
    labels = np.array([0, 1, 0, 1, 0])
    dataSet = pd.concat([pd.DataFrame(group), pd.DataFrame(labels)],axis =1, ignore_index = True)
    return dataSet

In [5]:
dataSet = creatDataSet()
dataSet

   0  1  2
0  1  2  0
1  1  0  1
2  2  1  0
3  0  1  1
4  0  0  0

In [6]:
def clError(dataSet):
    m = dataSet.shape[0]
    iMax = dataSet.iloc[:,-1].value_counts()[0]
    error = 1 - iMax/m
    return error

In [7]:
error = clError(dataSet)

In [8]:
error

0.4

In [9]:
def Ent(dataSet):
    m = dataSet.shape[0]
    iSet = dataSet.iloc[:, -1].value_counts()
    p = iSet / m
    ent = ( -p * np.log2(p)).sum()
    return ent

In [10]:
Ent(dataSet)

0.9709505944546686

In [11]:
def Gini(dataSet):
    m = dataSet.shape[0]
    iSet = dataSet.iloc[:, -1].value_counts()
    p = iSet/m
    gini = 1 -(np.power(p,2)).sum()
    return gini

In [12]:
Gini(dataSet)

0.48