# 1.构建数据集

In [1]:
import pandas as pd

In [2]:
rowdata ={'电影名称':['无问西东','后来的我们','前任3','红海行动','唐人街探案','战狼2'],
         '打斗镜头':[1,5,12,108,112,115],
         '接吻镜头':[101,89,97,5,9,8],
         '电影类型':['爱情片','爱情片','爱情片','动作片','动作片','动作片']}

In [3]:
movie_data = pd.DataFrame(rowdata)
movie_data

    电影名称  打斗镜头  接吻镜头 电影类型
0   无问西东     1   101  爱情片
1  后来的我们     5    89  爱情片
2    前任3    12    97  爱情片
3   红海行动   108     5  动作片
4  唐人街探案   112     9  动作片
5    战狼2   115     8  动作片

#2.计算已知类别数据集中的点与当前点之间的距离

In [4]:
new_data = [24,67]

In [5]:
dist = list((((movie_data.iloc[:6 ,1:3] - new_data)**2).sum(1))**0.5)
dist

[41.048751503547585,
 29.068883707497267,
 32.31098884280702,
 104.4030650891055,
 105.39449701004318,
 108.45275469069469]

#3将距离升序排列，然后选取距离最小的k个点

In [6]:
dist_1 = pd.DataFrame({'dist':dist, 'labels':(movie_data.iloc[:6, 3])})
dist_1

         dist labels
0   41.048752    爱情片
1   29.068884    爱情片
2   32.310989    爱情片
3  104.403065    动作片
4  105.394497    动作片
5  108.452755    动作片

In [7]:
dr = dist_1.sort_values(by = 'dist')
dr

         dist labels
1   29.068884    爱情片
2   32.310989    爱情片
0   41.048752    爱情片
3  104.403065    动作片
4  105.394497    动作片
5  108.452755    动作片

In [8]:
k = 4
dr = dr[: k ]
dr

         dist labels
1   29.068884    爱情片
2   32.310989    爱情片
0   41.048752    爱情片
3  104.403065    动作片

#4.确定前k个点所在类别的出现频率

In [9]:
re = dr.loc[:,'labels'].value_counts()
re

爱情片    3
动作片    1
Name: labels, dtype: int64

In [10]:
re.index[0]

'爱情片'

In [11]:
result = []
result.append(re.index[0])
result

['爱情片']

# 2.封装函数

In [33]:
import pandas as pd
from numpy import *
import operator

"""
函数功能：knn分类器
参数说明：
        inX:需要预测分类的数据集
        dataSet：已知分类标签的数据集（训练集）
        labels:标签
        k：k-近邻算法参数，选择距离最小的k个点
    返回：
        result：分类结果
"""
def classify(inX,dataSet,labels, k):
    #获取行数
    dataSetSize = dataSet.shape[0]
    #获取差值矩阵，tile函数：tile（A,(2,3))表示A的第一个维度重复3遍，第二个维度重复2遍
    diffMat = tile(inX, (dataSetSize, 1))
    #求平方
    sqDiffMat = diffMat ** 2
    #行相加
    sqDistances = sqDiffMat.sum(axis = 1)
    distances = sqDistances ** 0.5
    #argsort函数放回的是数组值从小到大的索引值
    sorteDistIndicies = distances.argsort()
    classCount = {}
    for i in range(k):
        #取距离给定测试向量第i小的结果集中对应的标签
        voteIlabel = labels[sorteDistIndicies[i]]
        #把距离最近的k个点，根据结果值不同进行分类
        classCount[voteIlabel] = classCount.get(voteIlabel,0) + 1
    #根据各分类的数量进行降序排序
    #interitems()#迭代输出字典的键值对
    #operator.itemgetter(1) 根据value进行排序
    sortedClassCount = sorted(classCount.items(),key = operator.itemgetter(1),reverse = True)
    return sortedClassCount[0][0]

#测试函数运行结果

In [36]:
inX = new_data
dataSet = movie_data
labels =['爱情片','爱情片','爱情片','动作片','动作片','动作片']
k = 4

In [37]:
classify(inX,dataSet,labels,k)

'爱情片'